@model WebApp_Hospital.Models.Appointment

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Appointment</h4>
    <hr />
    <table class="table">
        <tr>
            <th>Patient Identification</th>
            <td>@Html.DisplayFor(model => model.Fk_patient_identification_card)</td>
        </tr>
        <tr>
            <th>Patient Name</th>
            <td>@Html.DisplayFor(model => model.Patient_name)</td>
        </tr>
        <tr>
            <th>Doctor Identification</th>
            <td>@Html.DisplayFor(model => model.Doctor_code)</td>
        </tr>
        <tr>
            <th>Doctor Name</th>
            <td>@Html.DisplayFor(model => model.Doctor_name)</td>
        </tr>
        <tr>
            <th>Clinic Name</th>
            <td>@Html.DisplayFor(model => model.Clinic_name)</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>@Html.DisplayFor(model => model.Date_time)</td>
        </tr>
        <tr>
            <th>Speciality</th>
            <td>@Html.DisplayFor(model => model.Speciality)</td>
        </tr>
        <tr>
            <th>Diagnosis</th>
            <td>@Html.DisplayFor(model => model.Diagnosis)</td>
        </tr>
    </table>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Id_patient" />
        <input type="hidden" asp-for="Clinic_name" />
        <input type="hidden" asp-for="Speciality" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" asp-route-id="@Model.Id_patient">Back to List</a>
    </form>
    <br />
</div>
